<div class="container">
	<h3>All Questions</h3>
	<div>---------------------------------------------------</div>
	<div id="questions-list">
		<ul>
			<% @questions.each do |question| %>
				<li>
					<div class="question-summary">
						<div class="stats-container">
							<div class="vote-box"><%= pluralize(question.votes.count, "vote") %></div>
							<div class="answer-box"><%= pluralize(question.answers.count, "answer") %></div>
						</div>
						<div class="summary-container">
							<p><%= link_to question.title, question_path(question) %></p>
							<p><%= question.body %></p>
							<div class="tag-list">Tags: <%= question.all_tags %></div>
							<div class="author">asked by <%= question.author.username %> on <%= question.created_at.strftime('%c') %></div>
						</div>
						<div>---------------------------------------------------</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>	
</div>