<div id="question_title">
  <h2><%= @question.title %></h2>
</div>

<div id="question_body">
  <p><input class="upvote-question" type='button' name='<%= @question.id %>, <%= current_user.id %>' value="Upvote" /><%= render "vote", locals: { question: @question } %> <%= @question.body %></p>
</div>

<div>
  Posted by <%= link_to @question.author.username, user_path(@question.author) %>
</div>

<h2>Comments</h2>

<div id="new_comment">
  <%= link_to 'add comment', new_question_comment_path(@question, commentable: {commentable_type: @question.class.to_s, commentable_id: @question.id}) %>
</div>

<hr>

<div id="comments_stream">
  <% @comments.each do |comment| %>
    <p><%=comment.body%></p>
    <p>posted by <%= link_to comment.commenter.username, user_path(comment.commenter) %></p>

    <ul>
      <%comment.comments.each do |sub_comment|%>
        <li><%=sub_comment.body%> posted by <%= link_to sub_comment.commenter.username, user_path(sub_comment.commenter) %></li>
      <%end%>
    </ul>

    <div id="new_comment">
      <% if current_user %>
      <%= link_to 'add comment', new_comment_comment_path(comment, commentable: {commentable_type: comment.class.to_s, commentable_id: comment.id}) %>
      <% end %>
    </div>

    <hr>

  <% end %>
</div>
