<div id="question_title">
  <h2><%= @question.title %></h2>
</div>

<div id="question_body">
  <p><%= @question.body %></p>
</div>

<%= form_for @upvote do %>
  <%= hidden_field_tag(:voter_id, current_user.id) %>
  <%= hidden_field_tag(:voteable_type, "Question") %>
  <%= hidden_field_tag(:voteable_id, @question.id) %>
  <%= hidden_field_tag(:value,"1") %>
  <%= submit_tag("Up") %>
<% end %>

<%= form_for @downvote do %>
  <%= hidden_field_tag(:voter_id, current_user.id) %>
  <%= hidden_field_tag(:voteable_type, "Question") %>
  <%= hidden_field_tag(:voteable_id, @question.id) %>
  <%= hidden_field_tag(:value,"-1") %>
  <%= submit_tag("Down") %>
<% end %>

<%= @question.vote_total %>


<div>
  Posted by <%= link_to @question.author.username, user_path(@question.author) %>
</div>

<hr>


<div class="box">
  <h2>Answers</h2>

  <hr>

  <div id="answers_stream">
    <% @comments.each do |comment| %>
      <% if comment.is_answer %>
        <%= render partial: 'comments/comments_list', locals: {comment: comment} %>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="box">
  <h2>Comments</h2>

  <div id="new_comment">
    <%= link_to 'add comment', new_question_comment_path(@question, commentable: {commentable_type: @question.class.to_s, commentable_id: @question.id}) %>
  </div>

  <hr>

  <div id="comments_stream">
    <% @comments.each do |comment| %>
      <% if !comment.is_answer %>
        <%= render partial: 'comments/comments_list', locals: {comment: comment} %>
      <% end %>
    <% end %>
  </div>
</div>
